html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/table.png");
  background-size: cover;
  font-family: 'Exo 2', sans-serif;
  color: mintcream;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#new-deck {
  align-self: flex-start;
}

.btn {
  cursor: pointer;
  background-color: mintcream;
  color: black;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#winner-text {
  text-align: center;
}

#first-card {
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-slot {
  width: calc(300px * 5 / 7);
  height: 300px;
  border: 1px solid black;
}
